  <!-- banner代码 开始 -->
<header>
  <!-- <div class="logo f_l"> <a href="/"><img src="assets/logo.png"></a> </div> -->
  <nav id="topnav" class="f_r">
    <ul>
      <li>
      <a href="/">首页</a>
     <!--  <a href="news.html" target="_blank">关于我</a> -->
      <a href="p.html" target="_blank">文章</a>
      <a href="b.html" target="_blank">吐槽</a>
      <% if user_signed_in? %>
      <span class='f_r'>hello, <%= current_user.loginname %></span>
      <% if current_user.loginname == 'raosheng'%>
      <%= link_to '进入后台', ancient_welcome_index_path, class: "f_r" %>
      <% end %>
       <%= link_to '登出', destroy_user_session_path, :method => :delete, class: 'f_r' %>

       <% end %>
       <% unless user_signed_in? %>
       <%= link_to '注册', new_user_registration_path, class: 'f_r'%>
       <%= link_to '登录', new_user_session_path, class: 'f_r' %>
       <% end %>

      
     <li>
    </ul>
  </nav>
</header>
