<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->

<article>
  <div class="l_box f_l">
    <div class="banner">
      <div id="slide-holder">
        <div id="slide-runner"> <a href="/" target="_blank"><img id="slide-img-1" src="assets/a1.jpg"  alt="" /></a> <a href="/" target="_blank">
          <img id="slide-img-2" src="assets/a2.jpg"  alt="" /></a> <a href="/" target="_blank">
            <img id="slide-img-3" src="assets/a3.jpg"  alt="" /></a> <a href="/" target="_blank">
              <img id="slide-img-4" src="assets/a4.jpg"  alt="" /></a>
          <div id="slide-controls">
            <p id="slide-client" class="text"><strong></strong><span></span></p>
            <p id="slide-desc" class="text"></p>
            <p id="slide-nav"></p>
          </div>
        </div>
      </div>
      <script>
	  if(!window.slider) {
		var slider={};
	}

	slider.data= [
    {
        "id":"slide-img-1", // 与slide-runner中的img标签id对应
        "client":"你必须知道的Rails 5新特性",
        "desc":"比如说 Action Cable 和改进的 Turbolinks 新特性" //这里修改描述
    },
    {
        "id":"slide-img-2",
        "client":"5 个常见的 Rails 开发误区",
        "desc":"数据模型是应用程序的核心"
    },
    {
        "id":"slide-img-3",
        "client":"5 个常见的 Rails 开发误区",
        "desc":"对你调用的第三方服务使用facade（外观模式）"
    },
    {
        "id":"slide-img-4",
        "client":"代码审查 ",
        "desc":"不要没有经过任何测试就合并你的pull request"
    }
	];

	  </script>
    </div>
    <!-- banner代码 结束 -->

        <div class="topnews">
          <h2>
            <span><!-- <a href="/" target="_blank">栏目标题</a>
              <a href="/" target="_blank">栏目标题</a>
              <a href="/" target="_blank">栏目标题</a> -->
            </span><b>文章</b>推荐</h2>
          <div class="blogs">
            <% @articles.each do |article| %>
            <div class="curent">
            <figure><img src="assets/05.jpg"></figure>
            <ul>
              <h3><%= link_to article.title, article_path(article) %></h3>
              <p><%= truncate(article.content, length: 100) %></p>
              <p class="autor"><span class="lm f_l"><a href="/"><%= article.author %></a></span>
                <span class="dtime f_l"><%= article.created_at.strftime('%Y-%m-%d %H:%M:%S') %></span>
                <span class="viewnum f_r">浏览（<a href="/"><%= article.show_count %></a>）</span>
                <span class="pingl f_r">评论（<a href="/">30</a>）</span></p>
            </ul>
            </div>
            <% end %>
          </div>
        </div>
      </div>


        <div class="r_box f_r">
          <div class="tit01">
            <h3>关注我</h3>
            <div class="gzwm">
              <ul>
                <li><a class="xlwb" href="#" target="_blank">微信扫一扫</a></li>
                <li><a class="txwb" href="#" target="_blank">Github</a></li>
                <li><a class="wx" href="mailto:admin@admin.com">邮箱</a></li>
              </ul>
            </div>
          </div>
          <!--tit01 end-->
          <div class="ad300x100"> <img src="assets/ad300x100.jpg"> </div>
          <div class="moreSelect" id="lp_right_select">
            <script>
      window.onload = function ()
      {
      	var oLi = document.getElementById("tab").getElementsByTagName("li");
      	var oUl = document.getElementById("ms-main").getElementsByTagName("div");

      	for(var i = 0; i < oLi.length; i++)
      	{
      		oLi[i].index = i;
      		oLi[i].onmouseover = function ()
      		{
      			for(var n = 0; n < oLi.length; n++) oLi[n].className="";
      			this.className = "cur";
      			for(var n = 0; n < oUl.length; n++) oUl[n].style.display = "none";
      			oUl[this.index].style.display = "block"
      		}
      	}
      }
      </script>
            <div class="ms-top">
              <ul class="hd" id="tab">
                <li class="cur"><a href="/">点击排行</a></li>
                <li><a href="/">最新文章</a></li>
                <li><a href="/">站长推荐</a></li>
              </ul>
            </div>
            <div class="ms-main" id="ms-main">
              <div style="display: block;" class="bd bd-news" >
                <ul>
                <% @pai_artices.each do |article| %>
                <li><%= link_to article.title, article_path(article) %></li>
                <% end %>
                  <!-- <li><a href="/" target="_blank">住在手机里的朋友</a></li>
                  <li><a href="/" target="_blank">教你怎样用欠费手机拨打电话</a></li>
                  <li><a href="/" target="_blank">原来以为，一个人的勇敢是，删掉他的手机号码...</a></li>
                  <li><a href="/" target="_blank">手机的16个惊人小秘密，据说99.999%的人都不知</a></li>
                  <li><a href="/" target="_blank">你面对的是生活而不是手机</a></li>
                  <li><a href="/" target="_blank">豪雅手机正式发布! 在法国全手工打造的奢侈品</a></li> -->
                </ul>
              </div>
              <div  class="bd bd-news">
                <ul>
                <% @xin_articles.each do |article| %>
                <li><%= link_to article.title, article_path(article) %></li>
                <% end %>

                <!--   <li><a href="/" target="_blank">原来以为，一个人的勇敢是，删掉他的手机号码...</a></li>
                  <li><a href="/" target="_blank">手机的16个惊人小秘密，据说99.999%的人都不知</a></li>
                  <li><a href="/" target="_blank">住在手机里的朋友</a></li>
                  <li><a href="/" target="_blank">教你怎样用欠费手机拨打电话</a></li>
                  <li><a href="/" target="_blank">你面对的是生活而不是手机</a></li>
                  <li><a href="/" target="_blank">豪雅手机正式发布! 在法国全手工打造的奢侈品</a></li> -->
                </ul>
              </div>
              <div class="bd bd-news">
                <ul>
                <% @tj_articles.each do |article| %>
                <li><%= link_to article.title, article_path(article) %></li>
                <% end %>
                  <!-- <li><a href="/" target="_blank">手机的16个惊人小秘密，据说99.999%的人都不知</a></li>
                  <li><a href="/" target="_blank">你面对的是生活而不是手机</a></li>
                  <li><a href="/" target="_blank">住在手机里的朋友</a></li>
                  <li><a href="/" target="_blank">豪雅手机正式发布! 在法国全手工打造的奢侈品</a></li>
                  <li><a href="/" target="_blank">教你怎样用欠费手机拨打电话</a></li>
                  <li><a href="/" target="_blank">原来以为，一个人的勇敢是，删掉他的手机号码...</a></li> -->
                </ul>
              </div>
            </div>
            <!--ms-main end -->
          </div>
          <!--切换卡 moreSelect end -->

          <div class="cloud">
            <h3>标签云</h3>
            <ul>
              <li><a href="/">个人博客</a></li>
              <li><a href="/">web开发</a></li>
              <li><a href="/">前端设计</a></li>
              <li><a href="/">Html</a></li>
              <li><a href="/">CSS3</a></li>
              <li><a href="/">Html5+css3</a></li>
              <li><a href="/">百度</a></li>
              <li><a href="/">Javasript</a></li>
              <li><a href="/">web开发</a></li>
              <li><a href="/">前端设计</a></li>
              <li><a href="/">Html</a></li>
              <li><a href="/">CSS3</a></li>
              <li><a href="/">Html5+css3</a></li>
              <li><a href="/">百度</a></li>
            </ul>
          </div>
          <div class="tuwen">
            <h3>图文推荐</h3>
            <ul>
              <li><a href="/"><img src="assets/03.jpg"><b>住在手机里的朋友</b></a>
                <p><span class="tulanmu"><a href="/">手机配件</a></span><span class="tutime">2015-02-15</span></p>
              </li>
              <li><a href="/"><img src="assets/03.jpg"><b>教你怎样用欠费手机拨打电话</b></a>
                <p><span class="tulanmu"><a href="/">手机配件</a></span><span class="tutime">2015-02-15</span></p>
              </li>
              <li><a href="/" title="手机的16个惊人小秘密，据说99.999%的人都不知"><img src="assets/03.jpg"><b>手机的16个惊人小秘密，据说...</b></a>
                <p><span class="tulanmu"><a href="/">手机配件</a></span><span class="tutime">2015-02-15</span></p>
              </li>
              <li><a href="/"><img src="assets/03.jpg"><b>住在手机里的朋友</b></a>
                <p><span class="tulanmu"><a href="/">手机配件</a></span><span class="tutime">2015-02-15</span></p>
              </li>
              <li><a href="/"><img src="assets/03.jpg"><b>教你怎样用欠费手机拨打电话</b></a>
                <p><span class="tulanmu"><a href="/">手机配件</a></span><span class="tutime">2015-02-15</span></p>
              </li>
            </ul>
          </div>
          <div class="ad"> <img src="assets/03.jpg"> </div>
          <div class="links">
            <h3><span>[<a href="/">申请友情链接</a>]</span>友情链接</h3>
            <ul>
              <li><a href="/">个人博客</a></li>
              <li><a href="/">web开发</a></li>
              <li><a href="/">前端设计</a></li>
              <li><a href="/">Html</a></li>
              <li><a href="/">CSS3</a></li>
              <li><a href="/">Html5+css3</a></li>
              <li><a href="/">百度</a></li>
            </ul>
          </div>
        </div>
        <!--r_box end -->
        </article>
